//silverformedia.usw-23.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@target-air:registry=https://silverformedia.usw-23.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.cd412153-c49c-4ace-a195-210f5fcb834c/contents/release/npm/
